{% extends 'base.html.twig' %}

{% block title %}Salarios{% endblock %}

{% block body %}
    <h1>Salarios</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ salario.id }}</td>
            </tr>
            <tr>
                <th>Salbase</th>
                <td>{{ salario.salbase }}</td>
            </tr>
            <tr>
                <th>Gratificacao</th>
                <td>{{ salario.gratificacao }}</td>
            </tr>
            <tr>
                <th>Desconto</th>
                <td>{{ salario.desconto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('salarios_index') }}">back to list</a>

    <a href="{{ path('salarios_edit', {'id': salario.id}) }}">edit</a>

    {{ include('salarios/_delete_form.html.twig') }}
{% endblock %}
