{% extends 'base.html.twig' %}

{% block title %}Funcionarios{% endblock %}

{% block body %}
    <h1>Funcionarios</h1>

    <table class="table">
        <tbody>
           
            <tr>
                <th> Nome </th>
                <td> {{ funcionario.nome }} </td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td> {{ funcionario.tipo }} </td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if funcionario.status == 1 %}Ativo{% else %}Inativo{% endif %} </td>
            </tr>
            <tr>
                <th>Salário Base</th>
                <td>R$ {{ funcionario.salario.salbase|number_format(2,',','.') }} </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('funcionarios_index') }}">voltar para lista</a>

    <a href="{{ path('funcionarios_edit', {'id': funcionario.id}) }}">edit</a>

    {{ include('funcionarios/_delete_form.html.twig') }}
{% endblock %}
